#basta trocar o nome do arquivo para .env que vai funfar 
PORT=3000
JWT_SECRET=catapimbas123
JWT_EXPIRES_IN=1d
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=oramaisquecarambolas
POSTGRES_DB=db_usuarios
MONGO_URI=mongodb://mongodb:27017/db_recursos
VITE_API_URL=http://localhost:3000

